<h1>Import</h1>
<form class="form" action="/incomes/import" method="POST" enctype="multipart/form-data">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-group">
        <%= label_tag(:owner,  raw("Rapport de dépenses&nbsp;:")) %>
        <%= select_tag :owner, raw('<option value="Mathilde">Mathilde</option><option value="Virgile">Virgile</option>'), class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="form-group">
        <small id="emailHelp" class="form-text text-muted">Doit être un fichier CSV, séparateur: ","</small>
        <%= file_field_tag 'file_imported', class: 'form-control-file' %>
      </div>
    </div>
  </div>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="submit" class="btn btn-primary">
  <%= link_to 'Retour', incomes_path, class: 'btn btn-danger' %>
</form>


