<p id="notice"><%= notice %></p>

<p>
  <strong>origin:</strong>
  <%= @income.origin %>
</p>

<p>
  <strong>owner:</strong>
  <%= @income.owner %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @income.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @income.date %>
</p>

<%= link_to 'Edit', edit_income_path(@income) %> |
<%= link_to 'Back', incomes_path %>
